<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhm.apppay">

  <application android:allowBackup="true"
    android:supportsRtl="true"
    >
    <activity
      android:name="com.lhm.apppay.wxapi.activity.WXPayActivity"
      android:launchMode="singleTop"
      android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale|screenLayout|keyboardHidden"
      android:exported="true"
      android:hardwareAccelerated="true"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <activity-alias
      android:name="${applicationId}.wxapi.WXPayEntryActivity"
      android:exported="true"
      android:targetActivity="com.lhm.apppay.wxapi.activity.WXPayActivity" />

  </application>

</manifest>